
/*---- Posts Wrapper --- */
.post{
    display:flex;
    flex-direction: column;
    width:100%;
    padding:20px;
    background-color: #fff;
    margin-bottom:20px;
  }
  
  .post .author {
    height: 50px;
    flex-basis:100%;
  }
  
  .post .author img{
    float: left;
    width:50px;
    border-radius:50px;
  }
  
  .post .author a{
    font-size:1.5em;
    text-decoration: none;
    font-weight: bold;
    margin-left:10px;
    line-height:50px;
    color:#444;
  }
  
  .post .author a:visited{
    color:#444;;
  }
  
  .post .postPhoto img{width:100%;}